<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Total Users</strong>
      </div>
      <div class="card-body">
        <h2 class="card-title" id="total-users"><%= @total_users %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Total Tours</strong>
      </div>
      <div class="card-body">
        <h2 class="card-title" id="total-tours"><%= @total_tours %></h2>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Total User Views</strong>
      </div>
      <div class="card-body">
        <h2 class="card-title" id="total-user-views"><%= @total_user_views %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Total Tour Views</strong>
      </div>
      <div class="card-body">
        <h2 class="card-title" id="total-tour-views"><%= @total_tour_views %></h2>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Total Point Views</strong>
      </div>
      <div class="card-body">
        <h2 class="card-title" id="total-point-views"><%= @total_point_views %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Most Viewed Tour</strong>
      </div>
      <div class="card-body">
        <h2 class="card-title" id="total-viewed-tour"><%= @most_viewed_tour %></h2>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Total Point Visits</strong>
      </div>
      <div class="card-body">
        <h2 class="card-title" id="total-point-visits"><%= @total_point_visits %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Latest View</strong>
      </div>
      <div class="card-body">
        <h2 class="card-title" id="latest-view-location"><%= @latest_view_location %></h2>
      </div>
    </div>
  </div>
</div>